
module procmail2 1.6;

require {
	type user_tmp_t;
	type user_home_t;
	type user_home_dir_t;
	type home_root_t;
	type port_t;
	type procmail_t;
	class tcp_socket name_connect;
	class file { execute open execute_no_trans read write create unlink getattr };
}

#============= procmail_t ==============
#!!!! This avc can be allowed using the boolean 'allow_ypbind'

allow procmail_t port_t:tcp_socket name_connect;
allow procmail_t home_root_t:file { execute execute_no_trans open read write create unlink getattr };
allow procmail_t user_tmp_t:file { open read write create unlink getattr };
allow procmail_t user_home_t:file { execute execute_no_trans open read write create unlink getattr };
allow procmail_t user_home_dir_t:file { execute execute_no_trans open read write create unlink getattr };
